html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* cambia da center a stretch */
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.background-image-add {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/background_add.jpg');
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form {
  /*margin-top: 200px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 350px;
  background-color: rgba(193, 193, 193, 0.8);
  padding: 30px;
  border-radius: 30px;
  position: absolute;
  top: 100;
  left: 100;
  width: 100%;
}


.title {
  font-size: 28px;
  color: #007A33;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;  /* per rimuovere spazio sotto titolo */  
}

.sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;  /* poco spazio sopra sottotitolo */
}

/* Bottone Home */
.btnHome {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #007A33;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 16px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 80px;
  text-decoration: none; /* per rimuovere la sottolineatura se usi <a> */
}

.btnHome:hover {
  background-color: #005B27;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.82);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 40px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  max-width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.4);
  border-radius: 10px;
}

.form label .input + span {
  position: relative;
  left: 12px;
  top: 14px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.submit {
  border: none;
  outline: none;
  background-color: #007A33;
  align-self: center;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #005B27;
}

