
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* cambia da center a stretch */
  min-height: 100vh;
  text-align: center;
  align-items: center;
}


/* Mappa */
#map {
  flex: 1;
  width: 100%;
  height: 100%;
}

/* Barra di ricerca */
.search-bar {
  position: absolute;
  z-index: 1000;
  margin: 50px 0;           /* Spazio tra la tagline e la barra di ricerca */
  display: flex; 
  width: 350px;              /* Larghezza della barra di ricerca */
  background-color: #fff;
  border: 2px solid #ccc;  /* Spessore bordo - Colore del bordo */
  border-radius: 50px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-filter {
  background: none;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filter:hover svg {
  transform: scale(1.1);
}

.search-filter svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}


.filter-choices {
  display: none;
  position: absolute;
  top: 10px;
  width: 350px; /* Larghezza del menu a tendina */
  left: 0; /* Allinea a destra */
  border-radius: 0px;
  background: white;
  padding: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 9999;             /* Sta sopra tutto */
}

.filter-choices.visible {
  display: block;
}

.search-input {
  flex: 1;
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.search-input::placeholder { 
  color: #777;
}

.search-icon {
  background: none;
  border: none;
  padding: 12px 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon:hover svg {
  transform: scale(1.1);
}

.search-icon svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}


/* Bottone Home */
.mapBtnHome {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #ff9800;  /* arancione */
  color: white;
  border: none;
  border-radius: 30px;
  padding: 16px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 80px;
  text-decoration: none; /* per rimuovere la sottolineatura se usi <a> */
}

.mapBtnHome:hover {
  background-color: #e68900; /* arancione scuro */
}

/* Legenda Mappa*/
.legend-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  line-height: 1.6;

}

.legend-box h4 {
  margin: 0 0 5px 0;
  font-size: 15px;
  font-weight: bold;
}
.legend-box div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
}

.legend-color-icon {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  flex-shrink: 0;
}