html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* cambia da center a stretch */
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.background-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 400px;
  background-color: rgba(193, 193, 193, 0.606);
  padding: 40px;
  border-radius: 30px;
  position: absolute;
}

/* Logo e Tagline */
.logo {
  margin: 10px 0;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.logo .find {
  color: #000000; /* nero */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.logo .spot {
  color: #007A33; /* verde Marche */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.tagline {
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
  max-width: 500px;
}

/* Barra di ricerca */
.search-bar {
  margin: 50px 0;           /* Spazio tra la tagline e la barra di ricerca */
  display: flex; 
  width: 350px;              /* Larghezza della barra di ricerca */
  background-color: #fff;
  border: 2px solid #ccc;  /* Spessore bordo - Colore del bordo */
  border-radius: 50px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-filter {
  background: none;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filter:hover svg {
  transform: scale(1.1);
}

.search-filter svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}


.filter-choices {
  display: none;
  position: absolute;
  width: 350px; /* Larghezza del menu a tendina */
  top: 300px; /* Posiziona sotto la barra di ricerca */
  left: 0; /* Allinea a destra */
  border-radius: 0px;
  background: white;
  padding: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 9999;             /* Sta sopra tutto */
}

.filter-choices.visible {
  display: block;
}

.search-input {
  flex: 1;
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.search-input::placeholder { 
  color: #777;
}

.search-icon {
  background: none;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon:hover svg {
  transform: scale(1.1);
}

.search-icon svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}

/* Bottoni con icone - Home Page*/
.wrapper {
  display: flex;
  list-style: none;
  height: 110px;
  padding-top: 10px;                  /* Spazio tra la search bar e i bottoni */  
  padding-left: 10px;                 /* Spazio tra il bordo sinistro e i bottoni */
  font-family: "Poppins", sans-serif;
  justify-content: center;            /* Allinea i bottoni al centro */
  position: relative;
  gap: 25px;                          /*Spazio tra i bottoni*/
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .icon:hover .tooltip {
  top: -50px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.symbol {
  font-size: 1.4em;
  line-height: 1;
}

.wrapper .map:hover,
.wrapper .map:hover .tooltip,
.wrapper .map:hover .tooltip::before {
  background: #ff9800; /* arancione */
  color: #fff;
}

.wrapper .add:hover,
.wrapper .add:hover .tooltip,
.wrapper .add:hover .tooltip::before {
  background: #007A33; /* verde */
  color: #fff;
}

.wrapper .remove:hover,
.wrapper .remove:hover .tooltip,
.wrapper .remove:hover .tooltip::before {
  background: #f44336; /* rosso */
  color: #fff;
}

.wrapper .edit:hover,
.wrapper .edit:hover .tooltip,
.wrapper .edit:hover .tooltip::before {
  background: #2196f3; /* blu */
  color: #fff;
}



/* Mappa */
#map {
  flex: 1;
  width: 100%;
  height: 100%;
}

/* Bottone Home */
.mapBtnHome {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #007A33;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 16px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 80px;
  text-decoration: none; /* per rimuovere la sottolineatura se usi <a> */
}

.mapBtnHome:hover {
  background-color: #005B27;
}

/* Legenda Mappa*/
.legend-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  line-height: 1.6;

}

.legend-box h4 {
  margin: 0 0 5px 0;
  font-size: 15px;
  font-weight: bold;
}
.legend-box div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
}

.legend-color-icon {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  flex-shrink: 0;
}