body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #111;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  gap: 25px;                          /*Spazio tra i bottoni*/
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .icon:hover .tooltip {
  top: -50px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.symbol {
  font-size: 1.4em;
  line-height: 1;
}

.wrapper .map:hover,
.wrapper .map:hover .tooltip,
.wrapper .map:hover .tooltip::before {
  background: #ff9800; /* arancione */
  color: #fff;
}

.wrapper .add:hover,
.wrapper .add:hover .tooltip,
.wrapper .add:hover .tooltip::before {
  background: #4caf50; /* verde */
  color: #fff;
}

.wrapper .remove:hover,
.wrapper .remove:hover .tooltip,
.wrapper .remove:hover .tooltip::before {
  background: #f44336; /* rosso */
  color: #fff;
}

.wrapper .edit:hover,
.wrapper .edit:hover .tooltip,
.wrapper .edit:hover .tooltip::before {
  background: #2196f3; /* blu */
  color: #fff;
}
